<%- include('partials/header') %>



  <div class="container">
    <div class="container-info">
      <i class="fas fa-keyboard fa-10x"></i>
      <h1 class="secrets">Secrets</h1>
      <p class="secrets-messages">Don't keep your secrets, share them anonymously!</p>
      <a class="btn " href="/register" role="button">Register</a>
      <a class="btn btn-black" href="/login" role="button">Login</a>
  
    </div>
  </div>


<%- include('partials/footer') %>
