<%- include('partials/header') %>


  <div class="main text-center">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="secrets">You've Discovered My Secret!</h1>
    <div class="d">
    <% usersWithSecrets.forEach((user) => { %>
      <p class="secrets-message m"><%= user.secret %></p>
    <%})%>

    </div>
    
    <a class="btn " href="/logout" role="button">Log Out</a>
    <a class="btn btn-black" href="/submit" role="button">Submit a Secret</a>

</div>

<%- include('partials/footer') %>
